nav {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .div1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  color: #fff;
  padding-left: 150px;
  font-size: 30px;
  font-weight: 700;
  padding-top: 10px;
}

nav .div2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: flex-end;
}

nav .div2 a {
  color: #fff;
  padding-right: 30px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

header {
  background-color: #0e0e0e;
  color: #fff;
  height: 450px;
  width: 100%;
}

header {
  background-position-x: right !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  background-image: url(../assets/slash.png);
  background-position-y: bottom !important;
  background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
  header {
    background-attachment: unset;
  }
}

header .header__info {
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 150px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

header .header__info h1 {
  max-width: 900px;
  font-size: 70px;
  text-shadow: #fff;
  font-family: 'Inter';
  font-weight: 200;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

header .header__info h3 {
  font-size: 20px;
  font-weight: 300;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

header .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

header .socials a svg {
  padding-left: 15px;
}

header .socials a svg:hover {
  fill: #fff;
}

.cards {
  background-color: #0e0e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 96px;
}

.cards {
  background-position-x: right !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  background-image: url(../assets/slash.png);
  background-position-y: bottom !important;
  background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
  .cards {
    background-attachment: unset;
  }
}

.cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border-color: transparent;
  background-color: transparent;
}

.cards .card img {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.cards .card img:hover {
  width: 20rem;
  height: 10rem;
}

.cards .card p {
  color: #fff;
}

.cards .card h4 {
  color: #fff;
  padding-top: 15px;
  font-weight: 500;
}

.cards2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 96px;
}

.cards2 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, white), color-stop(50%, #0e0e0e)) !important;
  background-image: linear-gradient(to top, white 50%, #0e0e0e 50%) !important;
  margin-top: -3px;
}

.cards2 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border-color: transparent;
  background-color: transparent;
}

.cards2 .card img {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.cards2 .card img:hover {
  width: 20rem;
  height: 10rem;
}

.cards2 .card h4 {
  color: #0e0e0e;
  padding-top: 15px;
  font-weight: 500;
}

.info {
  background-color: #fff;
  padding-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 96px;
}

.info .img img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.info .content__info {
  max-width: 500px;
}

.info .content__info .title__info {
  margin-top: 100px;
  font-family: 'Inter';
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.info .content__info .subtitle__info {
  font-family: 'Inter';
  font-size: 16px;
}

.line {
  border-top: 1px solid #0e0e0e;
  max-width: 900px;
  margin: auto;
}

.info2 {
  background-color: #fff;
  padding-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.info2 .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info2 .content__info .title__info {
  margin-top: 100px;
  font-family: 'Inter';
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.info2 .content__info .subtitle__info {
  font-family: 'Inter';
}

/*
  
&{
    background-image: linear-gradient(to top,rgba(255,255,255,1)50%,rgba(14,14,14,1)50%)!important;
    margin-top:-3px;
    
    
}*/
footer {
  background-color: #0e0e0e;
}

@media (max-width: 768px) {
  header {
    width: 100%;
    max-width: 768px;
  }
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 700px;
  }
  .info2 .img {
    width: 150px;
  }
  .info2 .content__info {
    width: 150px;
  }
  .info {
    max-width: 700px;
  }
  .info img {
    width: 150px;
  }
}
/*# sourceMappingURL=style.css.map */