nav{
    background-color: #000;
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 3;
    align-items: center;
    justify-content: center;
    .div1{
        flex-basis: 50%;
        color: #fff;
        padding-left: 150px;
        font-size: 30px;
        font-weight: 700;
        padding-top: 10px;
       
       
        
    }
    .div2{
        flex-basis: 50%;
        justify-content: space-around;
        justify-items: flex-end;
       

        a{
            color: #fff;
           padding-right: 30px;
           text-transform: uppercase;
           font-weight: 500;
           text-decoration: none;
        }
    }
}

header{
    background-color: #0e0e0e;
    color: #fff;
    height:450px;

    &{
        background-position-x: right!important;
        background-repeat: no-repeat;
        background-size: contain!important;
        background-image:url(/assets/slash.png);
        background-position-y: bottom!important;
       background-attachment: fixed;
        }
        @media only screen and (max-width: 768px) {
        &{
        background-attachment:unset;
        }
        }
      

     .header__info{
        max-width: 900px;
         display: flex;
        
         flex-direction: column;
        padding-top: 150px;
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
          h1{
            max-width: 900px;
            font-size: 70px;
            text-shadow: #fff;
            font-family: 'Inter';
            font-weight: 200;
           
           
                animation-duration: 3s;
                animation-name: slidein;
              
              
              @keyframes slidein {
                from {
                  margin-left: 100%;
                  width: 300%
                }
              
                to {
                  margin-left: 0%;
                  width: 100%;
                }
              }
            
        }
        h3{
            font-size: 20px;
            font-weight: 300;
            animation-duration: 3s;
            animation-name: slidein;
           
          
          @keyframes slidein {
            from {
              margin-left: 100%;
              width: 300%
            }
          
            to {
              margin-left: 0%;
              width: 100%;
            }
          }

        }
        }

      .socials{
        display: flex;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        a svg{
            padding-left: 15px;
        }
        a svg:hover{
            fill: #fff;
        }
      }
    
}

.cards{
    background-color: #0e0e0e;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 96px;
    &{
        background-position-x: right!important;
        background-repeat: no-repeat;
        background-size: contain!important;
        background-image:url(/assets/slash.png);
        background-position-y: bottom!important;
       background-attachment: fixed;
        }
        @media only screen and (max-width: 768px) {
        &{
        background-attachment:unset;
        }
        }
  
    
    
    .card{
        display: flex;
        text-align: center;
        border-color: transparent;
        background-color:transparent;
      img{
        transition: all 2s;

      }
      img:hover {
        width: 20rem;
        height: 10rem;
       
       
    }
    h4{
        color: #fff;
        padding-top: 15px;
        font-weight: 500;
        
    }
    
    
    

    }
    
    
}
.cards2{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
    &{
        background-image: linear-gradient(to top,rgba(255,255,255,1)50%,rgba(14,14,14,1)50%)!important;
        margin-top:-3px;
       
    }
   
    
    .card{
        display: flex;
        text-align: center;
        border-color: transparent;
        background-color:transparent;
      img{
        transition: all 2s;

      }
      img:hover {
        width: 20rem;
        height: 10rem;
       
       
    }
    h4{
        color: #0e0e0e;
        padding-top: 15px;
        font-weight: 500;
       
    }
    
    
    

    }
    
    
}

  


.info{
    background-color: #fff;
    padding-top: 96px;
    display: flex;
    
    .img{
        display: flex;
      
        flex-direction: column;
        align-items: center;
        
    }
    .content__info{
       
        .title__info{
            margin-top: 100px;
            font-family: 'Inter';
            animation-duration: 3s;
            animation-name: slidein;
          
          
          @keyframes slidein {
            from {
              margin-left: 100%;
              width: 300%
            }
          
            to {
              margin-left: 0%;
              width: 100%;
            }
          }

        }
        .subtitle__info{
            font-family: 'Inter';
        }
    }
}

/*
  
&{
    background-image: linear-gradient(to top,rgba(255,255,255,1)50%,rgba(14,14,14,1)50%)!important;
    margin-top:-3px;
    
    
}*/ 