nav{
    background-color: #000;
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 3;
    align-items: center;
    justify-content: center;
    .div1{
        flex-basis: 50%;
        color: #fff;
        padding-left: 150px;
        font-size: 30px;
        font-weight: 700;
        padding-top: 10px;
       
       
        
    }
    .div2{
        flex-basis: 50%;
        justify-content: space-around;
        justify-items: flex-end;
       

        a{
            color: #fff;
           padding-right: 30px;
           text-transform: uppercase;
           font-weight: 500;
           text-decoration: none;
        }
    }
}

header{
    background-color: #0e0e0e;
    color: #fff;
    height:450px;
   width: 100%;
    &{
        background-position-x: right!important;
        background-repeat: no-repeat;
        background-size: contain!important;
        background-image:url(../assets/slash.png);
        background-position-y: bottom!important;
       background-attachment: fixed;
        }
        @media only screen and (max-width: 768px) {
        &{
        background-attachment:unset;
        }
        }
      

     .header__info{
        max-width: 900px;
         display: flex;
        
         flex-direction: column;
        padding-top: 150px;
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
          h1{
            max-width: 900px;
            font-size: 70px;
            text-shadow: #fff;
            font-family: 'Inter';
            font-weight: 200;
           
           
                animation-duration: 3s;
                animation-name: slidein;
              
              
              @keyframes slidein {
                from {
                  margin-left: 100%;
                  width: 300%
                }
              
                to {
                  margin-left: 0%;
                  width: 100%;
                }
              }
            
        }
        h3{
            font-size: 20px;
            font-weight: 300;
            animation-duration: 3s;
            animation-name: slidein;
           
          
          @keyframes slidein {
            from {
              margin-left: 100%;
              width: 300%
            }
          
            to {
              margin-left: 0%;
              width: 100%;
            }
          }

        }
        }

      .socials{
        display: flex;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        a svg{
            padding-left: 15px;
        }
        a svg:hover{
            fill: #fff;
        }
      }
    
}

.cards{
    background-color: #0e0e0e;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 96px;
    &{
        background-position-x: right!important;
        background-repeat: no-repeat;
        background-size: contain!important;
        background-image:url(../assets/slash.png);
        background-position-y: bottom!important;
       background-attachment: fixed;
        }
        @media only screen and (max-width: 768px) {
        &{
        background-attachment:unset;
        }
        }
  
    
    
    .card{
        display: flex;
        text-align: center;
        border-color: transparent;
        background-color:transparent;
      img{
        transition: all 2s;

      }
      img:hover {
        width: 20rem;
        height: 10rem;
       
       
    }
    p{
      color: #fff;
    }
    h4{
        color: #fff;
        padding-top: 15px;
        font-weight: 500;
        
    }
    
    
    

    }
    
    
}
.cards2{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 96px;
   
    &{
        background-image: linear-gradient(to top,rgba(255,255,255,1)50%,rgba(14,14,14,1)50%)!important;
        margin-top:-3px;
       
    }
   
    
    .card{
        display: flex;
        text-align: center;
        border-color: transparent;
        background-color:transparent;
      img{
        transition: all 2s;

      }
      img:hover {
        width: 20rem;
        height: 10rem;
       
       
    }
    h4{
        color: #0e0e0e;
        padding-top: 15px;
        font-weight: 500;
       
    }
    
    
    

    }
    
    
}

  

.info{
  background-color: #fff;
  padding-top: 96px;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 96px;
  .img{
      

      img{
        border-radius: 50%;
        width: 300px;
        height: 300px;
      }
  }
  .content__info{
     max-width: 500px;
      .title__info{
          margin-top: 100px;
          font-family: 'Inter';
          animation-duration: 3s;
          animation-name: slidein;
        
        
        @keyframes slidein {
          from {
            margin-left: 100%;
            width: 300%
          }
        
          to {
            margin-left: 0%;
            width: 100%;
          }
        }

      }
      .subtitle__info{
          font-family: 'Inter';
          font-size: 16px;
      }
  }
}
.line{
  border-top: 1px solid #0e0e0e;
  max-width: 900px;
  margin: auto;
  
}
.info2{
    background-color: #fff;
    padding-top: 96px;
    display: flex;
    width: 100%;
    
    .img{
        display: flex;
      
        flex-direction: column;
        align-items: center;
        
    }
    .content__info{
       
        .title__info{
            margin-top: 100px;
            font-family: 'Inter';
            animation-duration: 3s;
            animation-name: slidein;
          
          
          @keyframes slidein {
            from {
              margin-left: 100%;
              width: 300%
            }
          
            to {
              margin-left: 0%;
              width: 100%;
            }
          }

        }
        .subtitle__info{
            font-family: 'Inter';
        }
    }
}

/*
  
&{
    background-image: linear-gradient(to top,rgba(255,255,255,1)50%,rgba(14,14,14,1)50%)!important;
    margin-top:-3px;
    
    
}*/ 

footer{
  background-color: #0e0e0e;
}

@media (max-width: 768px){
  header{
  width: 100%;
  max-width: 768px;
  }
  .cards{
    flex-direction: column;
  }
  .cards2{
    flex-direction: column;
  }
 .info2{
  flex-direction: column;
  
  max-width: 700px;
 .img{
  width: 150px;
 }
 
 .content__info{
  width: 150px;
 }
 }
 .info{
  max-width: 700px;
 img{
  width: 150px;
 }
 }
}