.navbar {
  background-color: #000;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 3;
}

header {
  color: #fff;
  height: 450px;
  background-color: #0e0e0e;
}

header {
  background-position-x: center !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-image: url(../assets/fondo2.jpg);
  background-position-y: bottom !important;
  background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
  header {
    background-attachment: unset;
  }
}

header .container {
  max-width: 1900px;
  height: 450px;
  width: 100%;
}

header .container .header__info {
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 150px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

header .container .header__info h1 {
  font-size: 4.375rem;
  text-shadow: #fff;
  font-family: 'Inter';
  font-weight: 200;
  -webkit-animation: 1.5s fadeInUp;
          animation: 1.5s fadeInUp;
}

@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

header .container .header__info h1::before {
  content: '<h1> ';
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive;
  color: #f1f1f1;
  margin-bottom: 50px;
  opacity: 0.5;
}

header .container .header__info h1::after {
  content: ' </h1>';
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive;
  color: #f1f1f1;
  margin-bottom: 50px;
  opacity: 0.5;
}

header .container .header__info h3 {
  font-size: 20px;
  font-weight: 300;
  -webkit-animation: 1.5s fadeInUp;
          animation: 1.5s fadeInUp;
}

@keyframes fadeInUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

header .container .header__info h3::before {
  content: '<h3> ';
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive;
  color: #f1f1f1;
  margin-bottom: 50px;
  opacity: 0.5;
}

header .container .header__info h3::after {
  content: ' </h3>';
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive;
  color: #f1f1f1;
  margin-bottom: 50px;
  opacity: 0.5;
}

header .container .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

header .container .socials a svg {
  margin-left: 15px;
  margin-right: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .container .socials a svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  fill: #fff;
}

.cards {
  background-color: #0e0e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 96px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.cards {
  background-position-x: center !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-image: url(../assets/fondo2.jpg);
  background-position-y: bottom !important;
  background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
  .cards {
    background-attachment: unset;
  }
}

.cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border-color: transparent;
  background-color: transparent;
}

.cards .card img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 270px;
  height: 150px;
}

.cards .card img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.cards .card p {
  color: #fff;
}

.cards .card h4 {
  color: #fff;
  padding-top: 15px;
  font-weight: 500;
  font-family: 'Inter';
  text-transform: uppercase;
}

.cards2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 96px;
  padding-left: 50px;
  padding-right: 50px;
}

.cards2 {
  background-position-x: center !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-image: url(../assets/fondo2.jpg);
  background-position-y: bottom !important;
  background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
  .cards2 {
    background-attachment: unset;
  }
}

.cards2 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border-color: transparent;
  background-color: transparent;
}

.cards2 .card img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 270px;
  height: 150px;
}

.cards2 .card img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.cards2 .card h4 {
  color: #fff;
  padding-top: 15px;
  font-weight: 500;
  font-family: 'Inter';
  text-transform: uppercase;
}

.cards2 .card p {
  color: #fff;
}

.info {
  background-color: #fff;
  padding-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 96px;
  padding-left: 50px;
  padding-right: 50px;
}

.info {
  background-position-x: right !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  background-image: url(../assets/slash3.png);
  background-position-y: bottom !important;
  background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
  .info {
    background-attachment: unset;
  }
}

.info .img img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.info .content__info {
  max-width: 600px;
}

.info .content__info .title__info {
  margin-top: 100px;
  font-family: 'Inter';
}

.info .content__info .title__info::before {
  content: '<h3> ';
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive;
  color: #000;
  margin-bottom: 50px;
  opacity: 0.5;
}

.info .content__info .title__info::after {
  content: ' </h3>';
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive;
  color: #000;
  margin-bottom: 50px;
  opacity: 0.5;
}

.info .content__info .subtitle__info {
  font-family: 'Inter';
  font-size: 16px;
  padding-right: 10px;
}

.info .content__info .subtitle__info::before {
  content: '<p> ';
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive;
  color: #000;
  margin-bottom: 50px;
  opacity: 0.5;
}

.info .content__info .subtitle__info::after {
  content: ' </p>';
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive;
  color: #000;
  margin-bottom: 50px;
  opacity: 0.5;
}

.line {
  border-top: 1px solid #0e0e0e;
  max-width: 900px;
  margin: auto;
}

.info2 {
  background-color: #fff;
  padding-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 96px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.info2 {
  background-position-x: right !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  background-image: url(../assets/slash3.png);
  background-position-y: bottom !important;
  background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
  .info2 {
    background-attachment: unset;
  }
}

.info2 .img img {
  width: 400px;
  height: 250px;
}

.info2 .content__info {
  max-width: 600px;
}

.info2 .content__info .title__info {
  margin-top: 70px;
  font-family: 'Inter';
}

.info2 .content__info .title__info::before {
  content: '<h3> ';
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive;
  color: #000;
  opacity: 0.5;
}

.info2 .content__info .title__info::after {
  content: ' </h3>';
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive;
  color: #000;
  margin-bottom: 50px;
  opacity: 0.5;
}

.info2 .content__info .subtitle__info {
  font-family: 'Inter';
  font-size: 16px;
}

.info2 .content__info .subtitle__info::before {
  content: '<p> ';
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive;
  color: #000;
  margin-bottom: 50px;
  opacity: 0.5;
}

.info2 .content__info .subtitle__info::after {
  content: ' </p>';
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive;
  color: #000;
  margin-bottom: 50px;
  opacity: 0.5;
}

footer {
  height: 200px;
  background-color: #0e0e0e;
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

footer {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer h6 {
  color: #fff;
  font-family: 'Inter';
  font-weight: 500;
}

footer h6::before {
  content: '<h6> ';
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive;
  color: #fff;
  margin-bottom: 50px;
  opacity: 0.5;
}

footer h6::after {
  content: ' </h6> ';
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive;
  color: #fff;
  margin-bottom: 50px;
  opacity: 0.5;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

footer .socials a svg {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 35px;
}

footer .socials a svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 950px) {
  .navbar {
    position: absolute;
  }
  .navbar .navbar-collapse {
    background-color: #fff;
  }
  .navbar .navbar-collapse .nav-item {
    margin: auto;
  }
  .navbar .navbar-collapse .navbar-text {
    display: none;
  }
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 25px;
  }
  .cards .card {
    padding-bottom: 25px;
  }
  .cards2 {
    padding-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: none;
  }
  .cards2 {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(85%, white), color-stop(15%, #0e0e0e)) !important;
    background-image: linear-gradient(to top, white 85%, #0e0e0e 15%) !important;
    margin-top: -3px;
  }
  .cards2 .card p {
    color: #000;
  }
  .cards2 .card h4 {
    color: #000;
  }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-left: 25px;
    padding-right: 20px;
  }
  .info2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-left: 25px;
    padding-right: 20px;
  }
  .info2 .img {
    padding-left: 20px;
    padding-right: 20px;
  }
  .info2 .img img {
    width: 300px;
    height: 200px;
    border-radius: 50%;
  }
}
/*# sourceMappingURL=style.css.map */